/* *{ margin: 0; padding: 0;}
h1 {
    padding: 10px 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-style: 16px;
} */
a{
    text-decoration: none;
}
.padding-12px{
    padding: 0px 8px;
}
.DA-border-radius{
    border-radius: 10px;
}
.DA-select{
    padding: 2px 4px;
    width: 30%;
    font-size: 12px;
    border: none;
    float: inline-end;
}
.form-select:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.2px rgba(98, 98, 98, 0.25);
}
ul{
    list-style: none;
}
ul li a, ul li i{
    color: #ffff9d !important;
}
.DA-chart{
    height: 200px !important;
    padding-top: 14px;
}
.DA-title{
    margin-top: 8px;
    font-size: 12px;
    display: block;
    text-align: end;
}


.DA-container-table{
    padding-left: 0px;
    padding-right: 6px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
.DA-TongSoDu{
    display: inline-block;
    color: rgb(0, 204, 31);
}
.DA-container-category{
    padding-left: 6px;
    padding-right: 0px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
.DA-today img{
    width: 32px !important;
}
.DA-dropdown-menu{
    width: auto;
    background: #2b3139;
}
.DA-dropdown-menu .DA-sub-menu{
    background: #2b3139;       
    display: none;
}
.DA-dropdown-menu li {
    position: relative;
}
.img-icon{
    display: inline-block;
}
.img-icon img{
    width: 24px;
    border-radius: 12px;

}
.DA-dropdown-menu a{
    display: inline-block;
    padding: 6px 4px;
    color: rgb(0, 0, 0);
}
.DA-dropdown-menu a:hover, .DA-dropdown-menu .DA-sub-menu a:hover{
    color: #000000;
}
.DA-dropdown-menu .DA-sub-menu a{
    padding-left: 0px;
    color: #000000;
}
.icon-menu{
    color: #000000;
    opacity: .3;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 10px;
    padding: 8px;
    cursor: pointer;
}

.DA-scoll-bar-today{
    height: 288px;
    overflow-x:hidden;
    overflow-y:auto;
    background-color: #2b3139;
}
.DA-scoll-bar-category{
    height: 424px;
    overflow-x:hidden;
    overflow-y:auto;
    background-color: #2b3139;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 99);
    border-radius: 3px;
}

.DA-sticky{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}
.DA-outcome-today{
    display: block;
    font-size: 24px !important; 
    float: inline-end;
    width: 50px;
    height: 50px;
    background-color: #69a5ff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    box-shadow: 0 0 26px rgba(0, 0, 0, .3);
}
.DA-outcome-today:hover{
    background-color: #86b7fe;
    color: #fff;
    font-size: 30px !important;
}
.DA-btn-close{
    border: none;
    color: #fff;
    font-size: 24px;
}
.DA-btn-close:hover{
    color: red;
    border-radius: 50%;
    
}
td{
    padding: 4px !important;
}