.DA-general-style{
    background-color: #fee7d7; 
    border-radius: 8px;
    height: 56px;
}
.DA-circle{
    height: 40px;
    width: 40px;
    background-color: burlywood;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border: solid 4px #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.info-tktk{
    color: #000;
    font-size: 10px;
    font-weight: 700;
    padding-bottom: 10px;
}
.money-tktk{
    color: #1c73ff;
    font-size: 17px;
    font-weight: 700;
    margin-top: -9px;
}
.DA-bank-style{
    background-color: #252526;
    border-radius: 8px;
    height: 34px;
    font-size: 12px;
    color: #fee7d7;
}
.bankName{
    color: #03a5e0;
}
.bankAmount{
    color: #0ecb74;
    float: inline-end;
}
.banklabel{
    color: #ffff00;
}
.DA-scoll-bar-bank{
    height: 400px;
    overflow-x:hidden;
    overflow-y:auto;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);
    border-radius: 3px;
}